{% extends "base.html" %}

{% block content %}
<div class="container mb-5 p-0">
    <div id="utility-bar" class="d-flex justify-content-between">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="sort-latest" autocomplete="on" checked>
            <label class="btn btn-outline-primary " for="sort-latest">최신순</label>

            <input type="radio" class="btn-check" name="btnradio" id="sort-urgent" autocomplete="on">
            <label class="btn btn-outline-primary" for="sort-urgent">마감 임박순</label>
        </div>

        <a href="#" class="btn btn-primary">프로젝트 등록</a>
    </div>
</div>

<div class="container p-0">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        {% for project in projects %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.content }}</p>
                    <a href="/projects/{{ project.id }}" class="card-link">상세정보</a>
                    <a href="/projects/{{ project.id }}/feedbacks" class="card-link">테스트하러 가기</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<nav aria-label="..." class="mt-5 d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item {% if pagination_info.block_start == 1%}disabled{% endif %}">
            <a class="page-link">Previous</a>
        </li>

        {% for cur_page in range(pagination_info.block_start, pagination_info.block_end + 1) %}
            {% if cur_page <= pagination_info.last_page_num %}
                <li class="page-item {% if cur_page == pagination_info.page %}active{% endif %}">
                    <a class="page-link" href="{{ modify_query(page=cur_page) }}" {% if cur_page == pagination_info.page %}aria-current="page"{% endif %}>{{ cur_page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <li class="page-item {% if pagination_info.block_end >= pagination_info.last_page_num%}disabled{% endif %}">
            <a class="page-link" href="#">Next</a>
        </li>

        <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
            <a class="page-link" href="#" aria-current="page">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li> -->

        
    </ul>
</nav>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
