{% extends "base.html" %}

{% block content %}

<style>
body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.form-container{
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea{
    height: 100px;
    resize: none;
}

button.submit{
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button.submit:hover{
    background-color: #45a049;
}

.add-btn{
    width:30px;
    height:30px;
    border-radius:50%;
    border:none;
    background:#bdbdbd;
    color:rgb(1, 0, 0);
    font-size:15px;
    cursor:pointer;
    margin-bottom: 20px;
}

.add-btn:hover{
    background:#787978;
}

.add-area{
    text-align:center;
}
</style>


<div class="form-container">

<form action="/projects" method="POST">

    <input name="title" placeholder="제목을 입력해주세요">

    <textarea name="content" placeholder="설명"></textarea>

    <input name="url" placeholder="귀하의 서비스의 url을 입력">

    <input name="tags" placeholder="#태그1 #태그2">


    <!-- 테스트케이스 영역 -->
    <div id="testcase-container">
        <input name="testcases[]" placeholder="테스트케이스1">
    </div>


    <div class="add-area">
        <button type="button" class="add-btn" onclick="addTestcase()">+</button>
    </div>


    <button class="submit" type="submit">등록</button>

</form>

</div>


<script>
let testcaseCount = 1;

function addTestcase(){

    testcaseCount++;

    const container = document.getElementById("testcase-container");

    const input = document.createElement("input");

    input.name = "testcases[]";
    input.placeholder = "테스트케이스" + testcaseCount;

    container.appendChild(input);
}
</script>

{% endblock %}